name: Make Reel

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - run: pip install "moviepy==1.0.3" "pillow<10" numpy imageio imageio-ffmpeg



      - run: python generate.py

      - uses: actions/upload-artifact@v4
        with:
          name: reel
          path: reel.mp4
